/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Root Variables */
:root {
    --header-height: 3rem;
    --nav-width: 320px;

    /* Fonts */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Colors */
    --first-color: #CC4B2C;
    --first-color-dark: #662616;
    --first-color-lighten: #FFFAFA;
    --first-color-light: #EAE7E6;
    --first-color-darken: #290f09;

    --text-color: #54423D;

    /* TypoGrapy */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* Z index */
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
    transition: .2s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--first-color-lighten);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin: var(--header-height) 0 0 0;
    line-height: 1.6;
}

h1, h2, h3, p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ================ 
    Classes CSS
===================*/

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    text-align: center;
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: .25rem;
}

/* ================ 
    LAYOUT
===================*/
.bd-grid {
    width: calc(100% - 2rem);
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--first-color-lighten);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
    z-index: 1000;
}

/* ================ 
        NAV 
===================*/
.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    position: fixed;
    height: 100vh;
    width: 90%;
    top: 0;
    left: -100%;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    padding: 3rem;
    transition: .5s;
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    font-size: 1rem;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--text-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.nav__toggle {
    font-size: 1.3rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

/* Show Nav  */
.show {
    left: 0;
}

.active {
    color: var(--text-color);
}

/* ================ 
    HOME SECTION
===================*/
.home__container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home__data {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home__img {
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    border-radius: 50%;
    padding-left: .8rem;
    padding-top: 1.3rem;
    margin-bottom: var(--mb-2);
    overflow: hidden;
}

.home__img img {
    width: 155px;
}

.home__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}

.home__profession {
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}

.home__social {
    margin-bottom: 5rem;
}

.home__social-link {
    display: inline-flex;
    background: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
}

.home__social-link:hover {
    background-color: var(--first-color-dark);
}

.home__button {
    width: 100%;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.button:hover {
    background: var(--first-color-dark);
}

.button__light {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.button__light:hover {
    color: var(--first-color-lighten);
}

/* ================ 
    ABOUT SECTION
===================*/
.about__container {
    row-gap: 2rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-4);
}

.about__img {
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
}

.about__information {
    margin-bottom: var(--mb-4);
}

.about__information-title {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about__information-data {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about__information-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

/* ================ 
    SKILLS SECTION
===================*/
.skills__container {
    row-gap: 2rem;
}

.skills__subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills__data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills__name {
    text-transform: uppercase;
}

.skills__bar {
    position: absolute;
    height: .25rem;
    bottom: -.75rem;
    background: var(--first-color);
    border-radius: 0 4px 4px 0;
}

.skills__html {
    width: 95%;
}

.skills__js {
    width: 90%;
}

.skills__react {
    width: 70%;
}

.skills__nodejs {
    width: 80%;
}

.skills__firebase {
    width: 70%;
}

.skills__python {
    width: 75%;
}

/* ================ 
    EDUCATION SECTION
===================*/
.education__container {
    row-gap: 2rem;
}

.education__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education__university, .education__speciality {
    display: block;
    font-size: var(--smaller-font-size);
}

.education__year, .education__university {
    text-align: right;
}

.education__time {
    padding: 0 1rem;
    justify-self: center;
}

.education__rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.education__rounder::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.education__line {
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4px);
}

/* ================ 
    SERVICES SECTION
===================*/
.services__container {
    row-gap: 2rem;
}

.services__content {
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem .5rem;
}

.services__icon {
    font-size: 2rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    padding: .5rem;
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.services__content:hover {
    background-color: var(--first-color);
}

.services__content:hover .services__icon {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.services__content:hover .services__title {
    color: var(--first-color-lighten);
}

.services__content:hover .servces__description {
    color: var(--first-color-lighten);
}

/* ================ 
    PROJECT SECTION
===================*/
.project {
    background-color: var(--first-color);
    padding-bottom: 0;
}

.project__container {
    row-gap: 2rem;
}

.project__data {
    text-align: center;
}

.project__title,
.project__description {
    color: var(--first-color-light);
}

.project__description {
    margin-bottom: var(--mb-4);
}

.project__img {
    widows: 220px;
    justify-self: center;
}

/* ================ 
    WORKS SECTION
===================*/
.works__container {
    row-gap: 2rem;
    justify-items: center;
}

.works__img {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}
